@model ComplectPlus.Models.Issuance

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Выдача</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComponentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComponentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateIssuance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateIssuance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staffs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staffs.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IssuanceId">Редактировать</a> |
    <a asp-action="Index">BНазад к списку</a>
</div>
