@model ComplectPlus.Models.Delivery

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Доставка</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComponentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComponentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seller.SellerName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DeliveryId">Редактировать</a> |
    <a asp-action="Index">Назад к списку</a>
</div>
