@model ComplectPlus.Models.Seller

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Поставщик</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerUrName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerUrName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerAdress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SellerId">Редактировать</a> |
    <a asp-action="Index">Назад к списку</a>
</div>
