@model IEnumerable<ComplectPlus.Models.Storage>

@{
    ViewData["Title"] = "Склад";
}

<h1>Склад</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComponentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.StorageId">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.StorageId">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.StorageId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
